/*https://imgur.com/a/VCvuF*/
@import
'https://fonts.googleapis.com/css?family=Quicksand:400,700';
@import
url('https://fonts.googleapis.com/css?family=Chewy|Righteous');

body {
  background-image: url(http://www.themesltd.com/backgrounds/cartoon/kermit_the_frogs.png);  /* https://s-media-cache-ak0.pinimg.com/originals/e5/49/55/e54955aea1e4ec3a3e15808c98d2a61e.jpg */
  /* https://d2d00szk9na1qq.cloudfront.net/Product/e9a42eea-e9fe-457b-ae83-0bb006fcfe3c/Images/Large_0317410.jpg */
  background-position: top left;
  background-repeat: repeat;
  background-size: 15%;
  font: 140% $copy;
  line-height: 1.3;
  color: white;
  width: 73%;
  margin: 0 auto;
  color: #333333;}

.page-wrapper {
  width: 65%;
  height: 100%;}
header banner {
  background-color: black;
  color: white;}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 2.5em;}
h2, h3 {
  font-family: 'Chewy', cursive;
  font-size: 1.9em;
  font-weight: lighter;
  margin-bottom: 0px;}
h2{
  font-weight: bold;}

p, ul, a{
 font-family: 'Helvetica', sans-serif;
  line-height: 20px;}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #af83a4;}
a:visited { 
	font-weight: bold; 
	color: #875f7d;}
a:hover, a:focus, a:active { 
	color: #d5f11f;}
abbr {
	border-bottom: none;}

/* specific divs */
.page-wrapper { 
	background: white; 
	padding: 0 100px 0 110px;  
	margin: 10px; 
	position: relative;}

.intro { 
	min-width: 440px;
	width: 100%;}

header h1 { 
	font-family: 'Chewy', cursive, san-serif;
  font-size: 3em;
  margin-top: 0;
  padding: 0;
  text-align: left;}
header h2 { 
	background: transparent url(http://vignette3.wikia.nocookie.net/nickfanon/images/3/3c/Kermit_the_Frog.png/revision/latest?cb=20111123072630) no-repeat top left; 
	margin: -100px 0 10px 0; 
	width: 200px; 
	height: 124px; 
	float: right;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header {
	padding-top: 20px;
	height: 87px;}

/* ---- SUMMARY ---- */
.summary {
	clear: both; 
	margin: 0px 20px 10px -130px; 
	width: 160px; 
	float: left;
  background: rgba(158, 206, 53, 0.9);
	padding: 8px; 
	width: 200px;
  border-radius: 20px;}
.summary p {
	font: italic 1em/1.8 'Quicksand'; 
	text-align: center;}
.summary a {
  color: white;}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}
.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;}

footer { 
  width: 150%;
  padding: 10px 0 0 0;	}
footer a:link, footer a:visited { 
	margin-right: 20px;
  color: white;
  background: #66a81f;
  padding: 15px;}
footer a:hover {
  background: #2c8714;}

/* ------------- SIDEBAR ------------- */
.sidebar {
	margin: 0px 20px 10px -100px; 
	width: 160px; 
	float: left;
  background: rgba(158, 206, 53, 0.9);
	padding: 8px; 
	width: 100%;
  border-radius: 20px;}
.sidebar .wrapper { 
	font: .9em; 
  background: rgba(22, 181, 19, 0.3);
	padding: 10px; 
  border-radius: 20px;
  text-align: center;}
.sidebar ul {
	margin: 8px;
	padding: 0;}
.sidebar li {
	line-height: 1.1em; 
	background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;}
.sidebar li a:link {
	color: white;}
.sidebar li a:hover {
	color: green;}

.extra1 {
	background: transparent url(http://i3.kym-cdn.com/photos/images/original/001/117/080/413.gif) top left no-repeat;
  z-index: ;
	position: absolute; 
  right: 80px;
	width: 300px; 
	height: 500px;}

/* -------- MEDIA QUERIES -------- */
@media (max-width:550px) {
  body {
    width: 80%;} 
  .page-wrapper{
    width: 80%;
    margin: 0;
    padding: 0;}
  .summary {
    display: block;
    width: 65%;
  	margin: 1%;}
  .preamble {
    display: block;
    width: 65%;
  }
  p{
    font-size: 1em;}
  h1, h3 {
    font-size: 2.2em;}
}
